{% extends "items/base.html" %}
{% block title_block %}
Daily Filter
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Reference the day.</h1>
    <form action="" method="get">
        {{ filter.form.as_p }}
        <input class='btn btn-outline-info' type="submit" value='Click' />
    </form>
    <ul class="list-group list-group-flush">
      {% for obj in filter.qs %}
          <li class="list-group-item">{{ obj.day_of_week }} - {{ obj.item }} {{obj.description}}</li>
      {% endfor %}
    </ul>
  </div>
</div>



{% endblock %}
