{% extends 'items/base.html' %}
{% load crispy_forms_tags %}
{% block title_block %}
Prep Work Create
{% endblock %}


{% block content %}
<div class="container shadow-sm p-3 text-center">
<h1 class="display-4">Prep list builder. </h1>
<p>Add product by the day.</p>
  <form method="POST">{% csrf_token %}
    <div class="shadow-sm p-3 mb-5 bg-white rounded">
      <div class="form-group mb-4">

            {{form|crispy}}

      <div class="mx-auto" style="width: 200px;">
        <br>
        <input class="btn btn-outline-primary btn-md"type="submit" value="Submit">{% csrf_token %}
      </div>
      </div>
    </div>
  </form>
{% endblock %}
